* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.board {
  width: 35%;
  height: 60%;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}